.texto-limitado {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error {
    border: 1px solid red;
    background-color: #ffcccc;
}
.error::placeholder {
    color: red;
}

.header-text:hover{
    color: #f1f1f1;
    text-decoration: underline;
}

.text-error{
    color: red;
    font-size: 13px;
}